{
  "env": {
    "es6": true
  },
  "extends": [
    "eslint-config-airbnb"
  ],
  "rules": {
    "react/jsx-filename-extension": [0]
  },
  "globals": {
    "documment": true,
    "shallow": true,
    "window": true,
    "expect": true,
    "it": true
  }
}